device_info
fake_device
build/
device_info_sent.xml
device_info_recv.xml
fake_device_sent.xml
fake_device_recv.xml
soapH.h
soapStub.h
soapC.cpp
soapClient.cpp
soapClientLib.cpp
soapServer.cpp
soapServerLib.cpp
Device.nsmap
Device.wsdl
tds.xsd
soap.nsmap
soap*.xml
*.req.xml
*.res.xml
