auth_client
auth_fake_device
build/
auth_sent.xml
auth_recv.xml
auth_fake_sent.xml
auth_fake_recv.xml
soapH.h
soapStub.h
soapC.cpp
soapClient.cpp
soapClientLib.cpp
soapServer.cpp
soapServerLib.cpp
Device.nsmap
Device.wsdl
tds.xsd
soap.nsmap
soap*.xml
*.req.xml
*.res.xml
